<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Shay-Int Tech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart"><i class="fas fa-shopping-cart"></i></a>
        </li>
        <li class="nav-item">
          <select class="form-control text-center" id="currencySelect" [(ngModel)]="selectedCurrency"
            (ngModelChange)="fetchExchangeRates()">
            <option value="LKR">LKR</option>
            <option value="USD">USD</option>
            <option value="AUD">AUD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</nav>